body
{
   /*background-color: blue;*/
   background-image: url("../ANJU6ID2XK.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
overflow-y: hidden;
}
canvas
{

   border: 1px solid black;
   /*width: 100%;*/
}
.overlay
{
   z-index: 280;
   height: 660px;
   width: 100%;
   background-color: rgba(20, 20, 20, 0.8);
   margin: 0;
   position:absolute;
}


#panel1
{
height: 660px;
/*width: 500px;*/
z-index: 49;
margin-bottom: 0;
background-color: rgba(20, 20, 20, 0.6);
/*position: absolute;*/
/*opacity: 0.5;*/

}
hr
{
   height: 1px;
   color: blue;
   display: block;
}

#portfolio
{
   top: 20%;
   font-size: 200%;
   color: white;
   font-style: italic;
   font-family: serif;
}
 .col-xs-6
{
   height: 660px;
   left: 0;
   margin: 0;
   /*opacity: 1;*/
   border: 0;
   /*position: relative;*/

}
.my-img
{
float: right;
margin-right: -113px;
height: 600px;
   border: 0px;
   padding: 0;
}
#pop
{
   width: 100px;
   height: 200px;
   background-color: grey;
   padding: 30px;
   z-index: 5000;
   position: absolute;
   left: 400px;
   top: 100px;
   display: none;
}
.ok
{
   position: absolute;
   left: 300px;
   top: 400px;

}
.download
{
   position: absolute;
   left: 300px;
   top: 400px;
}
#panel2
{
height: 660px;
/*width: 500px;*/
z-index: 100;
background-color: white;
margin: 0px;
background-image: url("../ping1.jpg");
background-repeat: no-repeat;
background-size: cover;
/*position: absolute;*/

}
.container
{
   height: 300px;
   /*width: 100%;*/
   z-index: 48;


}
.col-sm-12
{
   position: fixed;
   z-index: 302;
}
.col-sm-2
{
   height: 100px;
   color:
   /*width: 200px;*/
   opacity: 0.5;
   background-color: #1a1aff
   margin: 10px;
   position: relative;


}
.col-sm-2:hover
{
   opacity: 1;
   background-color:  #000000;
   color: white;
   transition: 1s ease;

}
.col-sm-2:hover .icon
{
   color: white;
   text-shadow: 0px 0px;
}

#panel3
{
height: 660px;
/*width: 500px;*/
z-index: 100;
background-color: green;
background-image: url("../mkt1.png");
background-repeat: no-repeat;
background-size: cover;
/*position: absolute;*/

}
#panel4
{
height: 660px;
/*width: 500px;*/
z-index: 100;
background-color: orange;
background-image: url("../fd1.jpg");
background-repeat: no-repeat;
background-size: cover;
/*position: absolute;*/

}

.headn
{
   color: white;
   font-family: 'Akronim', cursive;
   font-size: 300%;
}

.icon
{
font-family: 'Akronim', cursive;
font-size: 180%;
font-weight: bold;
color: #b3b300;
text-shadow: 3px 3px 2px #000000;
text-align: center;
}
.carousel-indicators
{
   z-index: 10000;
}
.aboutme
{
   font-size: 200%;
   color: white;
   font-style: italic;
   font-family: serif;

}
#imag
{
float: left;
   /*position: absolute;*/
   margin: 0px;
   border: 0px;
}

.right.carousel-control
{
   /*position: fixed;*/
   z-index: 10000;
   /*display: none;*/
}
.left.carousel-control
{
   /*position: fixed;*/
   z-index: 10000;
   /*display: none;*/
}
