body
{
  background-attachment: fixed;
  background-color: #aaaaaa;
  background-image: url(http://img12.funscrape.com/en/welcome/74.gif);
}
.intro
{
  font-size: 300%;
color: orange;
font-style: italic;
font-weight: bold;
}
.web
{color: blue;
/*font-weight:bold;}*/
font-size: 20;
}
